<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline, id: :project_deadline %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client, id: :project_client %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :project_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :project_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
