<!DOCTYPE html>
<html>
  <head>
    <title>Ej</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>

<body>
<!--layout-container start-->
<div id="layout-container"> 
  <!--Left navbar start-->
  <div id="nav"> 
    <!--logo start-->
    <div class="profile">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
    </div>
    <!--logo end--> 
    
    <!--navigation start-->
    <ul class="navigation">
      <li><a class="active" href="index.html"><i class="fa fa-home"></i><span>Início</span></a></li>
      <li class="sub"> <a href="#"><i class="fa fa-smile-o"></i><span>UI Elements</span></a>
        <ul class="navigation-sub">
          <li><a href="buttons.html"><i class="fa fa-power-off"></i><span>Button</span></a></li>
          <li><a href="grids.html"><i class="fa fa-columns"></i><span>Grid</span></a></li>
          <li><a href="icons.html"><i class="fa fa-flag"></i><span>Icon</span></a></li>
          <li><a href="tab-accordions.html"><i class="fa fa-plus-square-o"></i><span>Tab / Accordion</span></a></li>
          <li><a href="nestable.html"><i class="fa  fa-arrow-circle-o-down"></i><span>Nestable</span></a></li>
          <li><a href="slider.html"><i class="fa fa-font"></i><span>Slider</span></a></li>
          <li><a href="timeline.html"><i class="fa fa-filter"></i><span>Timeline</span></a></li>
          <li><a href="gallery.html"><i class="fa fa-picture-o"></i><span>Gallery</span></a></li>
        </ul>
      </li>
      <li class="sub"><a href="#"><i class="fa fa-list-alt"></i><span>Forms</span></a>
        <ul class="navigation-sub">
          <li><a href="form-components.html"><i class="fa fa-table"></i><span>Components</span></a></li>
          <li><a href="form-validation.html"><i class="fa fa-leaf"></i><span>Validation</span></a></li>
          <li><a href="form-wizard.html"><i class="fa fa-th"></i><span>Wizard</span></a></li>
          <li><a href="input-mask.html"><i class="fa fa-laptop"></i><span>Input Mask</span></a></li>
          <li><a href="muliti-upload.html"><i class="fa fa-files-o"></i><span>Multi Upload</span></a></li>
        </ul>
      </li>
      <li class="sub"><a href="#"><i class="fa fa-table"></i><span>Table</span></a>
        <ul class="navigation-sub">
          <li><a href="basic-tables.html"><i class="fa fa-table"></i><span>Basic Table</span></a></li>
          <li><a href="data-tables.html"><i class="fa fa-columns"></i><span>Data Table</span></a></li>
        </ul>
      </li>
      <li class="sub"><a href="#"><i class="fa fa fa-envelope"></i><span>Mail</span></a>
        <ul class="navigation-sub">
          <li><a href="mail.html"><i class="fa fa-inbox"></i><span>Inbox</span></a></li>
          <li><a href="mail-compose.html"><i class="fa fa-envelope-o"></i><span>Compose Mail</span></a></li>
        </ul>
      </li>


    </ul>
    <!--navigation end--> 
  </div>
  <!--Left navbar end--> 
  
  <!--main start-->
  <div id="main">
    <div class="head-title">
      <div class="menu-switch"><i class="fa fa-bars"></i></div>
      <!--row start-->
      <div class="row"> 
        <!--col-md-12 start-->
        <div style="position:absolute; color:white; font-size:40px">Coca Jr.</div>
        <div class="col-md-12"> 
          <!--profile dropdown start-->
          <ul class="user-info pull-right fadeInLeftBig animated">

            <li class="profile-info dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <img class="img-circle" alt="" src="images/avatar.jpg">Scott henderson </a>
              <ul class="dropdown-menu">
                <li class="caret"></li>
                <li> <a href="edit-profile.html"> <i class="fa fa-user"></i> Edit Profile </a> </li>
                <li> <a href="mail.html"> <i class="fa fa-inbox"></i> Inbox </a> </li>
                <li> <a href="fullcalendar.html"> <i class="fa fa-calendar"></i> Calendar </a> </li>
                <li> <a href="login.html"> <i class="fa fa-clipboard"></i> Log Out </a> </li>
              </ul>
            </li>
           
          </ul><!--profile dropdown end--> 
          
          <!--top nav start-->
          <ul class="nav top-menu hidden-xs notify-row fadeInRightBig animated">
            <!--task start-->

           
          </ul><!--top nav end--> 
        </div>
        <!--col-md-12 end--> 
      </div>
      <!--row end--> 
    </div>
    <!--margin-container start-->
    <div class="margin-container"> 
      <!--scrollable wrapper start-->
      <div class="scrollable wrapper"> 
       <%= yield %>
        
    
      
        
      </div>
      <!--scrollable wrapper end--> 
    </div>
    <!--margin-container end--> 
  </div>
  <!--main end-->
  <!-- sidebar chats -->

<!-- /sidebar chats -->   
</div>
<!--layout-container end--> 

<%=javascript_include_tag "application"%>
</body>
</html>
